// Font-family
$primary-font: "Poppins", sans-serif;

// Color

$color-black: #000000;
$color-white: #ffffff;
$color-white-2: #f6f6f6;
$color-gray-1: #dedddc;
$color-gray-2: #cbc9c9;
$color-gray-3: #d9d9d9;
$color-gray-4: #e9e9e9;
$color-gray-5: #8c8c8c;
$color-size-gray: #cccccc;
$color-primary: #2684ff;
$color-primary-opacity: #c2ddff;
$color-primary-opacity-2: #eff6ff;
$color-primary-opacity-3: #e2ecfa;
$color-primary-text: #0d569f;
$color-primary-border: #e1eeff;
$color-secondary: #ff7a00;
$color-red-1: #ffbfbf;
$color-red-2: #980404;
$color-red-3: #b53030;

// Font-size
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
$fs-40: 40px;
// Font-weight
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

//transition
$tras-5: 0.5s;

//box-shadow
$boxshadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
